.transformers {
display: flex;      
flex-wrap: wrap;
text-align: center;
}

.card{
padding: 10px;
flex-grow: 1;
flex-basis: 16%;
font-family: 'Montserrat', sans-serif;
}

.buttons{
display: flex;
justify-content: center;
padding: 20px;
}

button{
border: none;
 background-color: #FCC419;
}

body{
 background-color: #FCC419 ;
}

.container{
display: flex;
justify-content: center;
font-family: 'Montserrat', sans-serif;
}

.descr{
margin-left: 150px;
margin-right: 150px;
margin-bottom: 20px;
}

nav {
display: flex;
justify-content: center;
background-color: #C21E3B ;
padding: 10px;
font-family: 'Montserrat', sans-serif;
}
.link {
padding: 10px 90px;
text-decoration: none;
color: white;
text-transform: uppercase;
}

.btn{
color: #C21E3B;
}
